@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: arcade;
  src: url("/public/arcade.ttf");
}
body {
  background: linear-gradient(to top, #202020, #000000);
}
.custom-nes-error {
  background-color: #fc7a00 !important;
}
.dark-nes-container {
  background: #0e0e0e !important;
}
.btn-header {
  width: 15rem;
  height: 100%;
}
.profile {
  height: calc(100% - 5rem);
}
